.item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--bg-200);
  border: 1px solid var(--bg-300);
  border-radius: 12px;
  overflow: hidden;
  align-items: center;
  padding-bottom: 0.5rem;
  min-width: 150px;
  width: 30vw;

  &:first-child {
    margin-left: 1rem;
  }

  .image__container {
    width: 100%;
    aspect-ratio: 1;
    position: relative;
    .image {
      object-fit: cover;
    }
  }
  .amount {
    opacity: 0.6;
    font-size: 70%;
  }
}
