.item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--bg-200);
  border: 1px solid var(--bg-300);
  border-radius: 12px;
  overflow: hidden;
  align-items: center;
  padding-bottom: 0.5rem;
  min-width: 150px;
  width: 30vw;
  max-width: 25rem;
  position: relative;
  isolation: isolate;

  &:first-child {
    margin-left: 1rem;
  }

  .image__container {
    width: 100%;
    aspect-ratio: 1;
    position: relative;
    .image {
      object-fit: cover;
    }
  }
  .amount {
    opacity: 0.6;
    font-size: 70%;
  }
}
.sold__out {
  position: absolute;
  top: 13%;
  right: 13%;
  translate: 50% -50%;
  z-index: 2;
  background-color: var(--red-100);
  width: 100%;
  text-align: center;
  rotate: 45deg;
  font-weight: 600;
  font-size: clamp(0.5rem, 1.5vw, 1.3rem);
}
