.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-100);

  & > div {
    flex: 1;
  }
}
@media screen and (orientation: landscape) {
  .container {
    flex-direction: row-reverse;
  }
}
