* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--text-100);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-100);
}

.dark {
  --primary-100: #0085ff;
  --primary-200: #69b4ff;
  --primary-300: #e0ffff;
  --accent-100: #006fff;
  --accent-200: #e1ffff;
  --text-100: #ffffff;
  --text-200: #9e9e9e;
  --bg-100: #1e1e1e;
  --bg-200: #2d2d2d;
  --bg-300: #454545;
  --transition-normal: all 250ms ease-in-out;
}

.light {
  --primary-100: #0077c2;
  --primary-200: #59a5f5;
  --primary-300: #c8ffff;
  --accent-100: #7ea7d8;
  --accent-200: #00bfff;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --bg-100: #ffffff;
  --bg-200: #e8e7e7;
  --bg-300: #cccccc;
  --transition-normal: all 250ms ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

video::-webkit-media-controls {
  display: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
