.nav {
  width: 100%;
  padding-inline: 1rem;
  position: relative;
  justify-self: flex-end;

  .top__bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(
      to right,
      transparent,
      var(--accent-100),
      transparent
    );
  }

  ul {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1;

    li {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4rem;

      .link {
        font-size: clamp(1.5rem, 3vw, 3rem);
        display: grid;
        aspect-ratio: 1;
        place-content: center;
        border-top: 1px solid transparent;
        transition: var(--transition-normal);

        * {
          color: var(--accent-100);
          transition: var(--transition-normal);
        }

        &:hover {
          * {
            color: var(--accent-200);
          }
        }
      }

      .active__link {
        border-top: 1px solid var(--accent-100);
        background-color: var(--bg-100);
        height: 100%;
        aspect-ratio: 1;
        border-radius: 99px;
        translate: 0px -2rem;
      }
    }
  }
}
@media screen and (orientation: landscape) {
  .nav {
    width: fit-content;
    padding-inline: 0px;
    padding-block: 1rem;
    height: 100dvh;
    ul {
      flex-direction: column;
      height: 100%;
      li {
        .link {
          padding-inline: 1rem;
          width: 100%;
          border-top: none;
          border-right: 1px solid transparent;
        }
        .active__link {
          width: 100%;
          height: fit-content;
          border-top: none;
          border-right: 1px solid var(--accent-100);
          translate: 50% 0rem;
        }
      }
    }
    .top__bar {
      position: absolute;
      top: 0px;
      left: calc(100% - 1px);
      width: 1px;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        transparent,
        var(--accent-100),
        transparent
      );
    }
  }
}
